*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(realimage-banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(122,161,249);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-box h1{
    font-size: 15px;
    color: #bae67e;
}
.text-box h2{
    font-size: 50px;
    color: #d7dce2;
}
.text-box h3{
    font-size: 50px;
    color: #a2aabc;
    text-align: left;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #a2aabc;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #bae67e;
    border: 1px solid #bae67e;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: reletaive;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #bae67e;
    background: #6679a4;
    transition: 1s;
}
/*-- About --*/ 
#about{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1{
    font-size: 50px;
}
.about-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.abouts{
    flex-basis: 50%;
}
.abouts-iframe{
    flex-basis: 50%;
    margin: auto;
}
.abouts-iframe iframe{
    width: 70%;
    border-radius: 10px;
} 
.abouts-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.abouts-text p{
    padding: 0 20px;
    text-align: initial;
}
/*-- features --*/ 
.features{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.features-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.features-col img{
    width: 100%;
    display: block;
}
.layer{
    background: rgb(102,121,164, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: transparent;
}
.layer h3{
    width: 100%;
    color: rgb(122,161,249);
    font-weight: 1000;
    font-size: 75px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/*-- resource --*/ 
.resource{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(66,73,83);;
    font-size: 14;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.resource-col{
    flex-basis: 31%;
    background: rgb(235,240,246);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.resource-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*-- page 1 footer --*/ 
.footer{
    margin: 100px 0 0 0;
    background: #333;
    padding: 100px 100px;
}
.footer .main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.main-container div h4{
    color: blue;
    font-size: 25px;
    margin: 3px 0;
}
main-container div li{
    cursor: pointer;
    margin: 3px 0;
}

/*-- page 2 footer --*/ 
.footer-community{
    margin: 100px 0 0 0;
    background: #333;
    padding: 100px 100px;
}
.footer-community .main-container-community{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.main-container-community div h4{
    color: blue;
    font-size: 25px;
    margin: 3px 0;
}
.main-container-community div li{
    cursor: pointer;
    margin: 3px 0;
}

/*-- page 3 footer --*/ 
.footer-form{
    margin: 100px 0 0 0;
    background: #333;
    padding: 100px 100px;
}
.footer-form .main-container-form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.main-container-form div h4{
    color: blue;
    font-size: 25px;
    margin: 3px 0;
}
.main-container-form div li{
    cursor: pointer;
    margin: 3px 0;
}

/*-- page 4 footer --*/ 
.footer-library{
    margin: 100px 0 0 0;
    background: #333;
    padding: 100px 100px;
}
.footer-library .main-container-library{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.main-container-library div h4{
    color: blue;
    font-size: 25px;
    margin: 3px 0;
}
.main-container-library div li{
    cursor: pointer;
    margin: 3px 0;
}